* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
}

html, body {
    box-sizing: border-box;
    background-color: #222630;
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-image: url(./pictures/tcWebBackground4.jpg);
    background-size: 100% 100%;
}

a, a:link, a:visited, a:active {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ababab;
}

p {
    text-align: center;
    background-color: none;
    font: lighter;
    font-size: x-large;
    font-weight: lighter;
    color: white;
    padding: 0%;
    margin: 0%;
}

.italic {
    font-style: italic;
}

.intro  {
    padding: 2%;
    padding-bottom: 5%;
    padding-top: 0%;
}

/* text background */
.par {
    color: white;
    background-color: #222630;
    font-size: x-large;
    font-weight: lighter;
    padding: 1%;
}

.top {
    background-color: #222630;
    margin: 0%;
    padding: 0%;
    
}

.header {
    background-color: #222630;
    
}

.text {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
}

.title {
    font-weight: lighter;
    font-size: xx-large;
    text-wrap: nowrap;
    padding: 0% 0%;
    padding-top: 2%;
    padding-left: 3%;
}

.quote  {
    font-style: italic;
    padding: 0% 0%;
    padding-bottom: 3%;
    padding-top: 1%;
    padding-left: 3%;
}

.logoLinks {
    border-color: white;
    
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    border-top: .1rem solid #a0a0a0;
    gap: 3%;
    


}

.link {
    padding: 2% 0%;
    font-size: large;
    font-weight: lighter;
    
    
}

.middle {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    justify-content: center;
    padding: 5% 10%;
    height: auto;

}

.image {
    display: flex;
}

.video {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
}
.youtube {
    aspect-ratio: 16 / 9;
    width: 90%;
    max-width: 960px;
    height: auto;
    border: none;
}